<div x-data="{ show: false }" class="relative">
  <input :type="show ? 'text' : 'password'"
         name="{{ field_name }}"
         id="id_{{ field_name }}"
         class="inp pr-10"
         {% if field_placeholder %}placeholder="{{ field_placeholder }}"{% endif %}
         {% if field_required %}required{% endif %}
         {% if field_autocomplete %}autocomplete="{{ field_autocomplete }}"{% endif %}
         {% if field_value %}value="{{ field_value }}"{% endif %}>
  <button type="button"
          @click="show = !show"
          class="absolute right-3 top-1/2 -translate-y-1/2 text-ink-400 hover:text-ink-600 transition-colors"
          tabindex="-1"
          :title="show ? 'Ocultar contraseña' : 'Mostrar contraseña'">
    <i :class="show ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
  </button>
</div>
